---
const pathname = Astro.url.pathname;
const id = pathname.split('/')[1];
const { img, bestOn } = Astro.props
---
<div class="flex justify-center py-6">
    <a id="button" style={`background-image: url('${img.src}');`} class={`px-10 py-3 rounded-lg hover:scale-110 duration-300 cursor-pointer shadow-xl min-[1000px]:text-lg min-[2000px]:text-xl bg-cover bg-${bestOn} hover:bg-${bestOn === 'top' ? "bottom" : "top"}`}>Download now</a>
</div>