---
const { img } = Astro.props;
import { Image } from 'astro:assets';
import landing from '@/assets/examples/landing.webp';
import login from '@/assets/examples/login.webp';
---

<section class="px-10 min-[600px]:px-20 min-[800px]:px-32 min-[1000px]:px-44 min-[1300px]:px-56 min-[1500px]:px-0 py-5 min-[500px]:py-8 min-[1500px]:flex flex-col items-center">
    <p class="text-2xl min-[2000px]:text-3xl min-[2500px]:text-4xl font-bold min-[1500px]:w-[1000px] min-[2000px]:w-[1500px]">Examples</p>
    <div class="flex flex-col justify-between items-center flex-wrap gap-5 min-[500px]:gap-10 mt-5">
        <div class="flex min-[1500px]:w-[1000px] min-[2000px]:w-[1500px] h-auto relative shadow-xl">
            <Image 
                src={img} 
                alt="background example" 
                class="rounded-l-lg pointer-events-none w-[50%] h-auto object-cover" 
            />
            <Image 
                src={login}
                alt="login example" 
                class="rounded-r-lg pointer-events-none w-[50%] h-auto object-cover" 
            />
        </div>
    
        <div class="min-[1500px]:w-[1000px] min-[2000px]:w-[1500px] h-auto relative shadow-xl">
            <Image 
                src={landing}
                alt="landing page example" 
                class="pointer-events-none z-20 px-4 min-[600px]:px-6 min-[2000px]:px-10 py-0.5 min-[500px]:py-2 min-[2000px]:py-4 absolute rounded-lg -bottom-2 w-full h-full" 
            />
            <Image 
                src={img} 
                alt="background example" 
                class="pointer-events-none -z-10 rounded-lg w-full h-auto object-cover" 
            />
        </div>
    </div>
</section>