---
import { BACKGROUNDS } from '../constants/constants';
import BackgroundCard from './BackgroundCard.astro';
---

<main class="min-h-[calc(100vh-160px)]">
    <div class="flex flex-col items-center py-10 px-8 min-[700px]:px-10 text-center antialiased">
        <p class="text-3xl min-[500px]:text-4xl min-[700px]:text-5xl min-[1000px]:text-[55px] min-[1500px]:text-[65px] font-extrabold">Collection of creative <br/> backgrounds designed by AI</p>
        <p class="text-sm min-[500px]:text-base min-[700px]:text-lg min-[1000px]:text-xl mt-5 min-[1000px]:mt-8">Effortless to implement - download and enhance your project instantly.</p>
    </div>

    <div class="px-10 min-[1500px]:px-32 min-[2400px]:px-52 py-5 min-[1000px]:py-10 flex flex-wrap items-center gap-8 min-[500px]:gap-10 min-[1000px]:gap-14 justify-center">
        {
            BACKGROUNDS.map((bg) => (
                <BackgroundCard bg={bg} />
            ))
        }
    </div>
</main>